/* You can add global styles to this file, and also import other style files */
body{
    background: #dce0f7;
}
.navbar{
    min-height: 33px !important;
    margin-bottom: 0;
    border-radius: 0;
    top: 0px;
}

.navbar-nav > li > a, .navbar-brand{
    padding-top : 6px !important;
    padding-bottom: 0 !important;
    height: 33px;
}
/* navbar */
.navbar-default {
  background-color: #6b78bf;
  border-color: #416298;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #a49cf0;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a49cf0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a49cf0;
  background-color: #416298;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #a49cf0;
  background-color: #416298;
}
.navbar-default .navbar-toggle {
  border-color: #416298;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #416298;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #a49cf0;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a49cf0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a49cf0;
    background-color: #416298;
  }
}

.btn{
  font-size: 12px;
  padding: 3px 18px;
  margin-top: 0px;
}
  /* header */
  #header{
    background: #416298;
    color: #ffffff;
    padding-bottom: .5px;
    margin-bottom: .5px;
  }
  #header .create{
    padding-top: 10px;
  }

  /* breadcrumb */
  .breadcrumb{
    background: #cccccc;
    color: #333333;
  }
  .breadcrumb a{
    color: #333333;
  }

  /* progress */
  .progress-bar{
    background: #333333;
    color: #ffffff;
  }

  .dash-box{
    text-align: center;
  }
  #login{
    margin-top: 30px;
  }

  .a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
    color: #555;
    text-decoration: none;
    background-color: #5164ec;
}
  
  .card-body{
    padding: 10px;
    background: #f1f1f7 !important;
    text-align: left;
    border: black;
  }
.card-header{
  padding: 10px;
  background: #416298  !important;
  color: #ffffff!important;

}
