
<div class="card-header">Leave status</div>
<div class="well" >
  <div class="status" *ngFor="let ley of leaves"  >
  <h5>{{ley.leaveType}}</h5>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" [style.width.%]=percentage >
      {{ley.remainingDays}}/{{ley.allocationDays}}
    </div>
  </div>
</div>
 
  </div>



<div class="card-header">Carry Fowerd</div>
<div class="well">
  <button type="button" class="btn btn-success">Carry Forwed</button> 
</div>
