
<div class="card-header">Leave status</div>
<div class="well" >
  <div class="status" *ngFor="let ley of leave"  >
  <h5>{{ley.leaveType}}</h5>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" [style.width.%]="((ley.remainingDays)/(ley.allocationDays))*100" >
      {{ley.remainingDays}}/{{ley.allocationDays}}
    </div>
  </div>
</div>
 
  </div>



<div class="card-header">Leave Apply</div>
<div class="well">
  <button type="button" class="btn btn-success">
      <a routerLink="/leaveApply" class="list-group-item" routerLinkActive="active" routerLinkActiveOption="{exact:true}">
         Apply Leave </a>
  </button> 
</div>
