<div class="panel panel-default">
        <div class="card">
          <div class="card-header active main-color-bg" >User 
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#adduser">Add</button></div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>User Id</th>
                  <th>Email</th>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Joint Date</th>
                  <th>Role Id</th>
                  <th>Department Id</th>
                  <th>Service Period</th>
                  <th>Created At</th>
                  <th></th>
      
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ad of users">
                  <td>{{ad.id}}</td>
                  <td>{{ad.email}}</td>
                  <td>{{ad.userName}}</td>
                  <td>{{ad.firstName}}</td>
                  <td>{{ad.lastName}}</td>
                  <td>{{ad.roleId}}</td>
                  <td>{{ad.departmentId}}</td>
                  <td>{{ad.jointDate}}</td>
                  <td>{{ad.ServicePeriod}}</td>
                  
                  <td>
                    <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#editUser">Edit</button> 
                  </td>
                </tr>   
              </tbody>
            </table>
          </div>
        </div>
      </div>

<div class="modal fade" id="adduser" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                        <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label col-sm-6" for="email">User Name :</label>
                                    <div class="col-sm-12">
                                        <input type="text" class="form-control" id="email" placeholder="User Name"name="as" [(ngModel)]="userObj.userName">
                                    </div>
                                </div>
                            </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">Email:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="email" placeholder="Email"name="asda" [(ngModel)]="userObj.email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">First Name:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="email" placeholder="First Name" name="hi" [(ngModel)]="userObj.firstName">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">Last Name:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="email" placeholder="Last Name" name="hdd" [(ngModel)]="userObj.lastName">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">Role:</label>
                            <div class="col-sm-12">

                                    <select _ngcontent-c5="" class="form-control form-control-sm">                                        
                                            <option _ngcontent-c5="" value="role.id" *ngFor="let role of roles"selected=""> {{role.roleName}}</option>
                                        </select>

                                <!-- <input type="text" class="form-control" id="email" placeholder="Role" name="fss" [(ngModel)]="userObj.role.id"> -->
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">Department:</label>
                            <div class="col-sm-12">

                                    <select _ngcontent-c5="" class="form-control form-control-sm">
                                            <option _ngcontent-c5="" disabled="" selected=""> Department</option><!--bindings={
                                            "ng-reflect-ng-for-of": "[object Object]"
                                          }-->
                                          <option _ngcontent-c5="" value="department.id" *ngFor="let department of departments"selected=""> {{department.departmentName}}</option>
                                          
                                          <!-- <option _ngcontent-c5="" value="1" ng-reflect-value="1"> Annual </option> -->
                        
                                        </select>

                                <!-- <input type="text" class="form-control" id="email" placeholder="Department" name="dsf" [(ngModel)]="userObj.departmentId"> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">Joint Date:</label>
                            <div class="col-sm-12">
                                <input type="date" class="form-control" id="email" placeholder="Joint Date" name="vf" [(ngModel)]="userObj.jointDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-sm-6" for="email">Service Period:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="email" placeholder="Service Period" name="spo" [(ngModel)]="userObj.ServicePeriod">
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addUser()">Add</button>

            </div>
        </div>

    </div>
</div>
<div class="modal fade" id="editUser" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">Email:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">First Name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="email" placeholder="First Name">
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">Last Name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="email" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">Role:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="email" placeholder="Role">
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">Department:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="email" placeholder="Department">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">Joint Date:</label>
                                <div class="col-sm-12">
                                    <input type="date" class="form-control" id="email" placeholder="Joint Date">
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">Service Period:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="email" placeholder="Service Period">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">User Name:</label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="email" placeholder="User Name">
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-6" for="email">Password:</label>
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" id="email" placeholder="password">
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Update</button>
    
                </div>
            </div>
    
        </div>
    </div>