<!-- Admin User View -->
<div class="panel panel-default">
        <div class="card">
          <div class="card-header active main-color-bg" >User 
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#adduser">Add</button></div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>User Id</th>
                  <th>Email</th>
                    <th>User Name</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role </th>
                    <th>Department </th>
                    <!-- <th>Joint Date</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ad of users">
                  <td>{{ad.id}}</td>
                  <td>{{ad.email}}</td>
                  <td>{{ad.userName}}</td>
                  <td>{{ad.firstName}}</td>
                  <td>{{ad.lastName}}</td>
                  <td>{{ad.roleId.roleName}}</td>
                  <td>{{ad.departmentId.departmentName}}</td>
                  <!-- <td>{{ad.jointDate | date:"yyyy-MM-dd"}}</td> -->
                </tr>   
              </tbody>
            </table>
          </div>
        </div>
      </div>
<!-- Admin add User -->
<div class=" modal fade"  id="adduser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header ">
                        <h4 class="modal-title">Add New User</h4>
                      </div>
                      <!-- {{ addUserForm.value | json}} -->
                      <div class="modal-body">
                        <form [formGroup]="addUserForm" class="container-fluid" (ngSubmit)="onSubmit()">
                          <div class="form-row ">
                            <div class="form-group col-md-6 ">
                              <label for="inputEmail4">User Name</label>
                              <input formControlName="userName" type="text" class="form-control form-control-sm">
                            </div>
                            <div class="form-group col-md-6">
                                    <label for="inputPassword4">Password</label>
                                    <input formControlName="password" type="password" class="form-control form-control-sm" >
                                  </div>
                                </div>
                                <div class="form-row">
                                        <div class="form-group col-md-6">
                                          <label for="inputFirstName">First Name</label>
                                          <input formControlName="firstName" type="text" class="form-control form-control-sm" >
                                        </div>
                                        <div class="form-group col-md-6">
                                          <label for="inputLastName">Last Name</label>
                                          <input formControlName="lastName" type="text" class="form-control form-control-sm" >
                                        </div>
                                      </div>
                                <div class="form-row"> 
                            <div class="form-group col-md-6">
                              <label for="inputEmail4">Email</label>
                              <input formControlName="email" type="email" class="form-control form-control-sm" >
                            </div>
                            <div class="form-group col-md-6">
                                    <label for="inputDate">Join Date</label>
                                    <input formControlName="joinDate" type="date" class="form-control form-control-sm">
                                  </div>
                          </div>
                    
                          
                    
                          <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputRole">Role</label>
                              <select formControlName="roleId"  class="form-control form-control-sm">
                                <option selected disabled>Select Role</option>
                                <option *ngFor="let role of roles" value="{{role.id}}">{{role.roleName}}</option>
                              </select>
                            </div>
                    
                            <div class="form-group col-md-6">
                              <label for="inputDepartment">Department</label>
                              <select formControlName="departmentId"  class="form-control form-control-sm">
                                <option selected disabled>Select Department</option>
                                <option *ngFor="let department of departments" value="{{department.id}}">{{department.departmentName}}</option>
                              </select>
                            </div>
                           
                          </div>
                          <div class="col-md-12">
                            <div class="float-right">
                              <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                          </div>
                        </form>
                      </div>
        </div>
    </div>
      </div>
