<div class="panel panel-default">
    <div class="card">
      <div class="card-header active main-color-bg">Manage Leave 
        </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Id</th>
              <th>User Name </th>
              <th>Leave Type</th>
              <th>Starting date</th>
              <th>Ending date</th>
              <th>Reason</th>
              <th>Number of days</th>
              <!-- <th>Status</th> -->
              <th>Accept</th>
              <th>Reject</th>
  
            </tr>
          </thead>
          <tbody>
              <ng-container *ngFor="let leaveRQ of leaveRequests">
            <tr *ngIf="leaveRQ.statusId.id===3">
              <td>{{leaveRQ.id}}</td>
              <td>{{leaveRQ.userId.userName}}</td>
              <td>{{leaveRQ.leaveTypeId.leaveType}}</td>
              <td>{{leaveRQ.startDate |date:"yyyy-MM-dd"}}</td>
              <td>{{leaveRQ.endDate | date:"yyyy-MM-dd"}}</td>
              <td>{{leaveRQ.reason}}</td>
              <td>{{leaveRQ.leaveDays}}</td>
              <!-- <td>{{leaveRQ.statusId.status}}</td> -->
              <td>
                <button type="button" class="btn btn-warning " data-toggle="modal" data-target="#myModal3" >Accept</button>
                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header model-header-primary">
            <h5 class="modal-title" id="exampleModalCenterTitle">Are You Accept</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
          <div class="modal-footer">
            <button type="button" id="btn-send-reject-pending-request" class="btn btn-primary  btn-lg" data-toggle="modal"
              data-dismiss="modal" (click)="approveLeave(leaveRQ.id)">Yes</button>
              <button type="button" id="btn-send-reject-pending-request" class="btn btn-primary  btn-lg" data-toggle="modal"
              data-dismiss="modal" >No</button>
          </div>
        </div>
      </div>
    </div>
              </td>
              <td>
                <div class="alli">
                  <button type="button" class="btn btn-danger " data-toggle="modal" data-target="#myModal2" (click)="getLeaveRejectId(leaveRequest.id)">Reject</button>
  
                  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Cancel</button> -->
  
                </div>
  
              </td>
              
            </tr>
            
          </ng-container>
          </tbody>
        </table>
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header model-header-primary">
              <h5 class="modal-title" id="exampleModalCenterTitle">Reject Reason</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="message-text" class="col-form-label">Message:</label>
                <textarea class="form-control" id="message-text" name="reason" [(ngModel)]="leaveRequestManageObj.rejectreason"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" id="btn-send-reject-pending-request" class="btn btn-primary  btn-lg" data-toggle="modal"
                data-dismiss="modal" (click)="rejectLeave()">Send</button>
            </div>
          </div>
        </div>
      </div>

      
  
  
      </div>
  
  
    </div>
  </div>




      
  
