<br>
<app-top-bar *ngIf="isLoggedIn && (userRole=='User'||userRole=='Admin')"></app-top-bar><br>
<!-- <app-login></app-login> -->
<!-- <app-user *ngIf="isLoggedIn && userRole=='User'"></app-user> -->
<!-- <app-admin *ngIf="isLoggedIn && userRole=='Admin'"></app-admin> -->
<app-login *ngIf="!isLoggedIn && userRole!=''" (loginEvent)="login($event)" ></app-login>





  <section id="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
                <app-admin-side-bar *ngIf="isLoggedIn && userRole=='Admin'"></app-admin-side-bar>
                <app-side-bar *ngIf="isLoggedIn && userRole=='User'"></app-side-bar>
               
        </div>
        <div class="col-md-7">
               <app-leave-manage *ngIf="isLoggedIn && userRole=='Admin'"></app-leave-manage>
               <app-add-leave-type *ngIf="isLoggedIn && userRole=='User'"></app-add-leave-type>
               <router-outlet *ngIf="isLoggedIn"></router-outlet>
        </div>
        <div class="col-md-3">
          <app-status *ngIf="isLoggedIn && userRole=='User'"></app-status>
          <app-admin-pending *ngIf="isLoggedIn && userRole=='Admin'"></app-admin-pending>
        </div>
      </div>
    </div>    
  </section>


<!-- <app-user ></app-user>
<app-admin></app-admin> -->
<app-footer *ngIf="isLoggedIn && (userRole=='User'||userRole=='Admin')"></app-footer>
