<div class="list-group">
    
  <a  class="list-group-item active header">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Quick Show</a>
  <a routerLink="/pending" class="list-group-item" routerLinkActive="active" routerLinkActiveOption="{exact:true}" ><span class="glyphicon glyphicon-hourglass"
          aria-hidden="true"></span> Pending Leaves </a>
  
          <a roterLink="/newUser" class="list-group-item" routerLinkActive="active" routerLinkActiveOption="{exact:true}"><span class="glyphicon glyphicon-user"
                aria-hidden="true"></span> New Employee</a>
        
        <a routerLink="/leaveHistory" class="list-group-item" routerLinkActive="active" routerLinkActiveOption="{exact:true}"><span class="glyphicon glyphicon-new-window"
                aria-hidden="true"></span> Leave History </a>
  
</div>



