<div class="panel panel-default">

  <div class="card">
<!-- {{ applyLeaveObj | json}} -->
    <div class="card-header">Apply Leave Request</div>
    <div class="card-body">
      <form id="newLeaveRequest">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-sm-6" for="email">User Id:</label>
              <div class="col-sm-12">
                <input type="email" class="form-control" id="email" placeholder="User Id" name="id" [(ngModel)]="applyLeaveObj.userId">
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-sm-6" for="email">Leave Type :</label>
              <div class="col-sm-12">
                <select _ngcontent-c5="" class="form-control form-control-sm" name="xyz" [(ngModel)]="applyLeaveObj.leaveTypeId">
                  <option _ngcontent-c5="" selected="" *ngFor="let lts of leaveTypes" value="{{lts.id}}" >
                    {{lts.leaveType}}</option>
                </select>
                <!-- <input type="text" class="form-control" id="leaveType" placeholder="Leave Typeas" name="leaveType"
                  [(ngModel)]="applyLeaveObj.leaveTypeId"> -->
              </div>
            </div>

          </div>



        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-sm-6" for="email">Start Date:</label>
              <div class="col-sm-12">
                <input type="date" class="form-control" id="leaveStartingDate" placeholder="Start Date" name="=leaveStartingDate"
                  [(ngModel)]=applyLeaveObj.startDate>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-sm-6" for="email">End Date:</label>
              <div class="col-sm-12">
                <input type="date" class="form-control" id="leaveEndingDate" placeholder="End Date" name="leaveEndingDate"
                  [(ngModel)]="applyLeaveObj.endDate">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
              <label class="control-label col-sm-6" for="email">Reason:</label>
              <div class="col-sm-12">
                <textarea class="form-control" id="LeaveReason" placeholder="Enter Reason" name="LeaveReason"
                  [(ngModel)]="applyLeaveObj.reason" (click)="onSubmit()"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="control-label " for="email">Leave Days:</label>
              <div class="col-sm-12">
                <input type="data" class="form-control" id="LeaveReason" placeholder="" name="Leaveday"
                  [(ngModel)]="applyLeaveObj.leaveDays" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="button">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#apply" (click)=" applyLeave()">Apply</button>
        </div>
        <!-- <input type="submit" value="Add Leave Request"> -->
      </form>
    </div>
  </div>
</div>