.card-header{
    padding: 10px;
    background: #416298  !important;
    color: #ffffff!important;
}
.card-body{
    padding: 10px;
}
.add{
    text-align: left;
}
.button{
    text-align: right;
}
.panal{
    position: fixed;
    top:0px;
    /* width: 10%; */
    /* background-color: #aaaeb3; */
    /* color: white; */
    /* text-align: center; */
 }
