

<div class="panel panel-default">
    <div class="card">
      <div class="card-header active main-color-bg" >Privilage
        <button type="button" class="btn btn-primary pull-right" >Add</button></div>
      <div class="card-body">
          <table class="table table-bordered" border="1px">
              <thead>
                <tr>
                  <th></th>
                  <th>Admin</th>
                  <th>H.R</th>
                  <th>Director</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>Manage Roles</th>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                </tr>
                <tr>
                  <th>Manage Status</th>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                </tr>
                <tr>
                  <th>Manage User</th>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                  <td><input type="checkbox" value=""></td>
                </tr>
  
              </tbody>
            </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addpri" role="dialog">
      <div class="modal-dialog">
  
          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Manage Roles</h4>
              </div>
              <div class="modal-body">
                  <div class="row">
  
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="control-label col-sm-6" for="email">Department Id:</label>
                              <div class="col-sm-12">
                                  <!-- <input type="text" class="form-control" id="email" placeholder="Department Id"> -->
                              </div>
                          </div>
                      </div>
  
                      <div class="col-md-6">
                          <div class="form-group">
                              <label class="control-label col-sm-6" for="email">Department :</label>
                              <div class="col-sm-12">
                                  <input type="text" class="form-control" id="email" placeholder="Department Name">
                              </div>
                          </div>
                      </div>
                  </div>
  
  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
              </div>
          </div>
  
      </div>
  </div>